<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundle</key>
	<dict>
		<key>AKDeviceUnlockState</key>
		<true/>
		<key>AKLastCheckInAttemptDate</key>
		<date>2018-03-23T22:39:56Z</date>
		<key>AKLastCheckInSuccessDate</key>
		<date>2018-03-23T22:39:57Z</date>
		<key>AKLastEmailListRequestDateKey</key>
		<date>2018-03-23T09:11:58Z</date>
		<key>AKLastIDMSEnvironment</key>
		<integer>0</integer>
		<key>AddingEmojiKeybordHandled</key>
		<true/>
		<key>AppleITunesStoreItemKinds</key>
		<array>
			<string>podcast</string>
			<string>artist</string>
			<string>itunes-u</string>
			<string>booklet</string>
			<string>document</string>
			<string>movie</string>
			<string>eBook</string>
			<string>software</string>
			<string>software-update</string>
			<string>podcast-episode</string>
		</array>
		<key>AppleKeyboards</key>
		<array>
			<string>en_US@hw=Automatic;sw=QWERTY</string>
			<string>zh_Hans-Pinyin@sw=Pinyin-Simplified;hw=Automatic</string>
			<string>emoji@sw=Emoji</string>
			<string>ja_JP-Romaji@sw=QWERTY-Japanese;hw=Automatic</string>
		</array>
		<key>AppleKeyboardsExpanded</key>
		<integer>1</integer>
		<key>AppleLanguages</key>
		<array>
			<string>en-CN</string>
			<string>zh-Hans-CN</string>
			<string>ja-JP</string>
		</array>
		<key>AppleLanguagesDidMigrate</key>
		<string>15D100</string>
		<key>AppleLocale</key>
		<string>en_CN</string>
		<key>ApplePasscodeKeyboards</key>
		<array>
			<string>zh_Hans-Pinyin@sw=Pinyin-Simplified;hw=Automatic</string>
			<string>zh_Hans-Pinyin@sw=Pinyin10-Simplified;hw=Automatic</string>
			<string>emoji@sw=Emoji</string>
			<string>en_US@hw=Automatic;sw=QWERTY</string>
		</array>
		<key>INNextFreshmintRefreshDateKey</key>
		<real>543512579.50860405</real>
		<key>INNextHearbeatDate</key>
		<real>544629385.81921899</real>
		<key>MSVLoggingMasterSwitchEnabledKey</key>
		<false/>
		<key>NSAllowsDefaultLineBreakStrategy</key>
		<true/>
		<key>NSInterfaceStyle</key>
		<string>macintosh</string>
		<key>NSLanguages</key>
		<array>
			<string>en-CN</string>
			<string>zh-Hans-CN</string>
			<string>ja-JP</string>
			<string>en</string>
		</array>
		<key>PKContactlessInterfaceHomeButtonSourceHasOccuredKey</key>
		<true/>
		<key>PKKeychainVersionKey</key>
		<integer>4</integer>
		<key>PreferredLanguages</key>
		<true/>
		<key>WebDatabaseDirectory</key>
		<string>/var/mobile/Containers/Data/Application/AAF90716-5193-4757-994C-493374C2F450/Library/Caches</string>
		<key>WebKitJSCFTLJITEnabledDefaultsKey</key>
		<true/>
		<key>WebKitJSCJITEnabledDefaultsKey</key>
		<true/>
		<key>WebKitLocalStorageDatabasePathPreferenceKey</key>
		<string>/var/mobile/Containers/Data/Application/AAF90716-5193-4757-994C-493374C2F450/Library/Caches</string>
		<key>WebKitNetworkCacheEfficacyLoggingEnabled</key>
		<false/>
		<key>WebKitNetworkCacheEnabled</key>
		<true/>
		<key>WebKitOfflineWebApplicationCacheEnabled</key>
		<true/>
		<key>WebKitShrinksStandaloneImagesToFit</key>
		<true/>
		<key>addins-installed</key>
		<integer>1</integer>
		<key>ascii-keyboard</key>
		<true/>
		<key>com.apple.content-rating.AppRating</key>
		<integer>1000</integer>
		<key>com.apple.content-rating.ExplicitBooksAllowed</key>
		<true/>
		<key>com.apple.content-rating.ExplicitMusicPodcastsAllowed</key>
		<true/>
		<key>com.apple.content-rating.MovieRating</key>
		<integer>1000</integer>
		<key>com.apple.content-rating.TVShowRating</key>
		<integer>1000</integer>
		<key>debug-mode</key>
		<false/>
		<key>defaults-to-action</key>
		<true/>
		<key>defaults-to-widget</key>
		<true/>
		<key>editor-font-size</key>
		<integer>14</integer>
		<key>editor-theme</key>
		<string></string>
		<key>editor_font</key>
		<string>Menlo</string>
		<key>fc_uuidForDevice</key>
		<string>ed63508c695c4d49814bb39b16ff1f51</string>
		<key>fc_uuidsOfUserDevices</key>
		<string>ed63508c695c4d49814bb39b16ff1f51</string>
		<key>modules-installed</key>
		<integer>1</integer>
		<key>onboard-welcome</key>
		<integer>0</integer>
		<key>playground-addin</key>
		<string>Currency.js</string>
		<key>show-editor-tip</key>
		<integer>0</integer>
		<key>show-line-numbers</key>
		<true/>
		<key>show-playground-tip</key>
		<integer>0</integer>
		<key>taptic-engine</key>
		<false/>
		<key>user-hits-document</key>
		<integer>4</integer>
		<key>user-hits-modify-addin</key>
		<integer>5</integer>
		<key>user-hits-run-addin</key>
		<integer>5</integer>
		<key>user-last-review-time</key>
		<real>1521874433.2178349</real>
		<key>widget-lines</key>
		<integer>7</integer>
		<key>widget-rows</key>
		<integer>7</integer>
		<key>widget-view-height</key>
		<real>220</real>
	</dict>
	<key>groups</key>
	<dict>
		<key>AKDeviceUnlockState</key>
		<true/>
		<key>AKLastCheckInAttemptDate</key>
		<date>2018-03-23T22:39:56Z</date>
		<key>AKLastCheckInSuccessDate</key>
		<date>2018-03-23T22:39:57Z</date>
		<key>AKLastEmailListRequestDateKey</key>
		<date>2018-03-23T09:11:58Z</date>
		<key>AKLastIDMSEnvironment</key>
		<integer>0</integer>
		<key>AddingEmojiKeybordHandled</key>
		<true/>
		<key>AppleITunesStoreItemKinds</key>
		<array>
			<string>podcast</string>
			<string>artist</string>
			<string>itunes-u</string>
			<string>booklet</string>
			<string>document</string>
			<string>movie</string>
			<string>eBook</string>
			<string>software</string>
			<string>software-update</string>
			<string>podcast-episode</string>
		</array>
		<key>AppleKeyboards</key>
		<array>
			<string>en_US@hw=Automatic;sw=QWERTY</string>
			<string>zh_Hans-Pinyin@sw=Pinyin-Simplified;hw=Automatic</string>
			<string>emoji@sw=Emoji</string>
			<string>ja_JP-Romaji@sw=QWERTY-Japanese;hw=Automatic</string>
		</array>
		<key>AppleKeyboardsExpanded</key>
		<integer>1</integer>
		<key>AppleLanguages</key>
		<array>
			<string>en-CN</string>
			<string>zh-Hans-CN</string>
			<string>ja-JP</string>
		</array>
		<key>AppleLanguagesDidMigrate</key>
		<string>15D100</string>
		<key>AppleLocale</key>
		<string>en_CN</string>
		<key>ApplePasscodeKeyboards</key>
		<array>
			<string>zh_Hans-Pinyin@sw=Pinyin-Simplified;hw=Automatic</string>
			<string>zh_Hans-Pinyin@sw=Pinyin10-Simplified;hw=Automatic</string>
			<string>emoji@sw=Emoji</string>
			<string>en_US@hw=Automatic;sw=QWERTY</string>
		</array>
		<key>INNextFreshmintRefreshDateKey</key>
		<real>543512579.50860405</real>
		<key>INNextHearbeatDate</key>
		<real>544629385.81921899</real>
		<key>MSVLoggingMasterSwitchEnabledKey</key>
		<false/>
		<key>NSAllowsDefaultLineBreakStrategy</key>
		<true/>
		<key>NSInterfaceStyle</key>
		<string>macintosh</string>
		<key>NSLanguages</key>
		<array>
			<string>en-CN</string>
			<string>zh-Hans-CN</string>
			<string>ja-JP</string>
			<string>en</string>
		</array>
		<key>PKContactlessInterfaceHomeButtonSourceHasOccuredKey</key>
		<true/>
		<key>PKKeychainVersionKey</key>
		<integer>4</integer>
		<key>PreferredLanguages</key>
		<true/>
		<key>WebKitJSCFTLJITEnabledDefaultsKey</key>
		<true/>
		<key>WebKitJSCJITEnabledDefaultsKey</key>
		<true/>
		<key>WebKitNetworkCacheEfficacyLoggingEnabled</key>
		<false/>
		<key>WebKitNetworkCacheEnabled</key>
		<true/>
		<key>app-language-bundle</key>
		<string>zh-Hans</string>
		<key>ascii-keyboard</key>
		<true/>
		<key>com.apple.content-rating.AppRating</key>
		<integer>1000</integer>
		<key>com.apple.content-rating.ExplicitBooksAllowed</key>
		<true/>
		<key>com.apple.content-rating.ExplicitMusicPodcastsAllowed</key>
		<true/>
		<key>com.apple.content-rating.MovieRating</key>
		<integer>1000</integer>
		<key>com.apple.content-rating.TVShowRating</key>
		<integer>1000</integer>
		<key>debug-mode</key>
		<false/>
		<key>defaults-to-action</key>
		<true/>
		<key>defaults-to-widget</key>
		<true/>
		<key>editor-font-size</key>
		<integer>14</integer>
		<key>editor-theme</key>
		<string>atom-one-light</string>
		<key>editor_font</key>
		<string>Menlo</string>
		<key>show-line-numbers</key>
		<true/>
		<key>taptic-engine</key>
		<false/>
		<key>widget-lines</key>
		<integer>7</integer>
		<key>widget-rows</key>
		<integer>7</integer>
		<key>widget-view-height</key>
		<real>220</real>
		<key>widget-view-script</key>
		<string>Currency</string>
	</dict>
</dict>
</plist>
